.section {
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.cards {
	margin: auto;
	margin-top: var(--size-md);
	display: flex;
	gap: var(--size-sm);
	align-items: center;
	height: 340px;
	overflow-x: auto;
}
