.main {
	width: 100%;
	max-width: 1520px;
	margin: auto;
	background-color: var(--color-dark);
	display: flex;
	flex-direction: column;
}

.content {
	padding: var(--size-lg);
	height: 100%;
}

@media (max-width: 768px) {
	.content {
		padding: var(--size-sm);
	}
}
